.registro{

    text-align: center;
    font-size: 100px;
}

.color{
    --background: brown;
    --size: small;
    --padding-top: 12px;
    --padding-bottom: 12px;
}


.titulo{

    text-align: center;
    color: black;
    font-weight: bolder;
   font-family: 'Times New Roman', Times, serif;
   font-style: initial;
    
    font-size: 30px;
}

ion-content{

 --background: rgb(168, 168, 168);
 

}

ion-header{

    --background: rgb(99, 99, 99);
}


ion-toolbar{
    --background: rgb(168, 17, 17);
  
    
    
}
