<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>iPhone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">iPhone 12 64GB</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="ion-margin-top">
    <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/48443/2_1000.jpg?t=1680288760056" />
    <ion-card-header>
      <ion-card-title>Apple®</ion-card-title>
      <ion-card-subtitle>iPhone 12 64GB</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      $ 572.290
      Precio Efectivo

      $ 589.990
      Precio Normal
    </ion-card-content>
  </ion-card>
</ion-content>
