<div class="content-container">
  <ion-content [fullscreen]="true">
    <ion-header>
      <ion-toolbar>
        
      </ion-toolbar>
    </ion-header>
  
    <ion-card>
      <ion-card-content>
        
        
        
        
        
          <ion-item>
            <ion-label>Talla:</ion-label>
            <ion-select >
              <ion-select-option  ></ion-select-option>
            </ion-select>
          </ion-item>
          <div style="color: red; margin-left: 10px;">
            Ingrese una talla
          </div>
  
          <ion-item>
            <ion-label>Cantidad:</ion-label>
            <ion-select  >
              <ion-select-option  ></ion-select-option>
            </ion-select>
          </ion-item>
          <div style="color: red; margin-left: 10px;">
            Ingrese una cantidad
          </div>
  
          <ion-button  expand="block" size="small" >Añadir al carrito</ion-button>
          <ion-button  expand="block" size="small" >Comprar ahora</ion-button>
        
      </ion-card-content>
    </ion-card>
  </ion-content>
  <ion-footer style="color: rgb(194, 129, 255); --background: rgb(34,0,67);" class="ion-text-center">
    <ion-toolbar  style="color: rgb(194, 129, 255); --background: rgb(34,0,67);">
      
      <p style="font-size: 15px; color: white;" class="footer-text">© 2023 Mi Empresa. Todos los derechos reservados.</p>
    </ion-toolbar>
  </ion-footer>
  </div>