<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div> <img src="assets/icon/logo2.png" class="logito"></div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header><div style="text-align: center;"><img style="border-radius: 50%;" src="{{usuarioInfo.foto}}" alt="foto Perfil" width="150px" height="150px">
    </div></ion-card-header>
    <ion-card-content>
      <div style="text-align: center;"><h1>Mi perfil</h1>
      </div>
      <ion-item-sliding >
        <ion-label>Nombre: {{ usuarioInfo.nombre }} </ion-label>
        <ion-label>Apellido: {{ usuarioInfo.apellido }} </ion-label>
        <ion-label>Telefono: {{ usuarioInfo.telefono }}</ion-label>
        <ion-label>Email: {{ usuarioInfo.correo }}</ion-label>
        

      <div class="divbtn"><ion-button size="small" expand="block">
        Registrarse
      </ion-button>
      <ion-button color="tertiary" [routerLink]="['/modificarperfil']">Modificar</ion-button></div>
    </ion-item-sliding>

    </ion-card-content>
  </ion-card>

</ion-content>
