<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>xiaomi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">xiaomi</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-card>
  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/48443/2_1000.jpg?t=1680288760056" />
  <ion-card-header>
    <ion-card-title>Xiaomi®
    </ion-card-title>
    <ion-card-subtitle>Smartphone Redmi Note 12 128GB/4GB Gris</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    $ 164.990
Precio Oferta Efectivo

$ 170.090
Precio Oferta
  </ion-card-content>
  
  <ion-button color="danger"[routerLink]="['/xiaomi1']" class="custom-button">Ver producto</ion-button>
</ion-card>

<ion-card>
  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/48444/4_1000.jpg?t=1680559293497" />
  <ion-card-header>
    <ion-card-title>Xiaomi®
    </ion-card-title>
    <ion-card-subtitle>Smartphone Redmi Note 12 Pro+ 256GB/8GB 5G Negro</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    $ 429.990
Precio Oferta Efectivo

$ 443.290
Precio Oferta
  </ion-card-content>
  
  <ion-button color="danger"[routerLink]="['/xiaomi2']" class="custom-button">Ver producto</ion-button>


</ion-card>

<ion-card>
  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/50038/4_1000.jpg?t=1695219137904" />
  <ion-card-header>
    <ion-card-title>Xiaomi®
    </ion-card-title>
    <ion-card-subtitle>Smartphone Xiaomi 13T 256GB/12GB 5G Negro</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    $ 417.090
Precio Efectivo

$ 429.990
Precio Normal
  </ion-card-content>
  
  <ion-button color="danger"[routerLink]="['/xiaomi3']" class="custom-button">Ver producto</ion-button>
</ion-card>

<ion-card>
  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/50698/2_1000.jpg?t=1697660832368" />
  <ion-card-header>
    <ion-card-title>Xiaomi®
    </ion-card-title>
    <ion-card-subtitle>Smartphone Xiaomi Poco F5 Pro 256G/12GB Negro</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    $ 529.990
Precio Oferta Efectivo

$ 546.390
Precio Oferta
  </ion-card-content>


 
  <ion-button color="danger"[routerLink]="['/xiaomi4']" class="custom-button">Ver producto</ion-button>
  
</ion-card>
