<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">samsung</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-title size="large">samsungGalaxy A13</ion-title>
<ion-card>
  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/47739/2_1000.jpg?t=1673014671705" />
  <ion-card-header>
    <ion-card-title>Samsung®</ion-card-title>
    <ion-card-subtitle>Smartphone Galaxy A13 128GB/4GB Azul</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    $ 150.090
    Precio Efectivo
    
    $ 154.790
    Precio Normal
  </ion-card-content>
  
  <ion-button color="danger"[routerLink]="['/Samsung1']" class="custom-button">Ver producto</ion-button>
</ion-card>