<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>samsung Galaxy A24</ion-title>
  </ion-toolbar>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/48571/2_1000.jpg?t=1684963833469" />
    <ion-card-header>
      <ion-card-title>Samsung®</ion-card-title>
      <ion-card-subtitle>Smartphone Galaxy A24 128GB/8GB Silver</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      $ 229.990
      Precio Oferta Efectivo
      
      $ 279.990
      Precio referencia
    </ion-card-content>
    
    <ion-button color="danger"[routerLink]="['/samsung2']" class="custom-button">Ver producto</ion-button>
  </ion-card>