.divbtn{
    text-align: center;
}
ion-button{
    --background: #F43435;
    --padding-top: 12px;
    --padding-bottom: 12px;
}
ion-header ion-toolbar {
    --background: #F43435;
    --color:white; 
  }
  

.divToolbar{
    text-align: end;
    padding-right: 10px;
    
}  

.logito{
    border-radius: 20px 20px 20px 20px;
    max-width: 40px;
    
    
    
}

.titulo{

    text-align: center;
    color: black;
    font-weight: bolder;
   font-family: 'Times New Roman', Times, serif;
   font-style: initial;
    
    font-size: 30px;
}

  // color #322E2E