.divbtn{
    text-align: center;
}
ion-button{
    --background: #F43435;
    --padding-top: 12px;
    --padding-bottom: 12px;
}
ion-header ion-toolbar {
    --background: #F43435; 
    --color: white;
  }

.divToolbar{
    display: inline-flex;
    
}  

.logo{
    border-radius: 50%;
    max-width: 40px;
    width: 200px;
    
    
}

  // color #322E2E