.divbtn{
    text-align: center;
}
ion-button{
    --background: brown;
    --padding-top: 12px;
    --padding-bottom: 12px;
}
ion-header ion-toolbar {
    --background: #322E2E; 
    --color: white;
  }