<ion-app>
  <ion-router-outlet>
    
    
    <div class="botones"><ion-button fill="clear" expand="full" class="btn" [routerLink]="['/home']">Inicio</ion-button></div>
    <div class="botones"><ion-button fill="clear" expand="full" class="btn"  [routerLink]="['/samsung']">Samsung</ion-button></div>
    <div class="botones"><ion-button fill="clear" expand="full" class="btn"  [routerLink]="['/xiaomi']">Xiaomi</ion-button></div>
    <div class="botones"><ion-button fill="clear" expand="full" class="btn"  [routerLink]="['/iphone']">iphone</ion-button></div>
    <div class="botones"><ion-button fill="clear" expand="full" class="btn"  [routerLink]="['/login']">Iniciar sesion</ion-button></div>
    <div class="botones"><ion-button fill="clear" expand="full" class="btn"  [routerLink]="['/registro']">Registrarse</ion-button></div>
  
  </ion-router-outlet>
</ion-app>
