<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>iPhone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">iPhone</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-card>
  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/48443/2_1000.jpg?t=1680288760056" />
  <ion-card-header>
    <ion-card-title>Apple®
    </ion-card-title>
    <ion-card-subtitle>iPhone 12 64GB</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    $ 572.290
Precio Efectivo

$ 589.990
Precio Normal
  </ion-card-content>
  
  <ion-button color="danger">ver mas</ion-button>
  <ion-button color="danger">+ carrito</ion-button>
</ion-card>

<ion-card>
  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/43568/2_1000.jpg?t=1634830527000" />
  <ion-card-header>
    <ion-card-title>Apple®
    </ion-card-title>
    <ion-card-subtitle>iPhone 13 256GB</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    $ 969.990
Precio Efectivo

$ 999.990
Precio Normal
  </ion-card-content>
  
  <ion-button color="danger">ver mas</ion-button>
  <ion-button color="danger">+ carrito</ion-button>
</ion-card>

<ion-card>
  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/47034/2_1000.jpg?t=1665166211798" />
  <ion-card-header>
    <ion-card-title>Apple®
    </ion-card-title>
    <ion-card-subtitle>iPhone 14 Plus 128GB</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    $ 1.066.990
Precio Efectivo

$ 1.099.990
Precio Normal
  </ion-card-content>
  
  <ion-button color="danger">ver mas</ion-button>
  <ion-button color="danger">+ carrito</ion-button>
</ion-card>

<ion-card>
  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/47042/2_1000.jpg?t=1665514681844" />
  <ion-card-header>
    <ion-card-title>Apple®
    </ion-card-title>
    <ion-card-subtitle>iPhone 14 Plus 256GB - Azul</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    $ 1.183.390
Precio Efectivo

$ 1.219.990
Precio Normal
  </ion-card-content>


 
    <ion-button color="danger">ver mas</ion-button>
    <ion-button color="danger">+ carrito</ion-button>
  
</ion-card>
