<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>samsung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">samsung</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-card>
  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/47739/2_1000.jpg?t=1673014671705" />
  <ion-card-header>
    <ion-card-title>Samsung®</ion-card-title>
    <ion-card-subtitle>Smartphone Galaxy A13 128GB/4GB Azul</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    $ 150.090
    Precio Efectivo
    
    $ 154.790
    Precio Normal
  </ion-card-content>
  
  <ion-button color="danger"[routerLink]="['/samsung1']" class="custom-button">Ver producto</ion-button>
</ion-card>

<ion-card>
  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/48571/2_1000.jpg?t=1684963833469" />
  <ion-card-header>
    <ion-card-title>Samsung®</ion-card-title>
    <ion-card-subtitle>Smartphone Galaxy A24 128GB/8GB Silver</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    $ 229.990
    Precio Oferta Efectivo
    
    $ 279.990
    Precio referencia
  </ion-card-content>
  
  <ion-button color="danger"[routerLink]="['/samsung2']" class="custom-button">Ver producto</ion-button>
</ion-card>

<ion-card>
  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/45510/3_1000.jpg?t=1659114061282" />
  <ion-card-header>
    <ion-card-title>Samsung®</ion-card-title>
    <ion-card-subtitle>Smartphone Galaxy A53 128GB/6GB Negro</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    $ 417.090
Precio Efectivo

$ 429.990
Precio Normal
  </ion-card-content>
  
  <ion-button color="danger"[routerLink]="['/samsung3']" class="custom-button">Ver producto</ion-button>
</ion-card>

<ion-card>
  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/45806/2_1000.jpg?t=1651189085090" />
  <ion-card-header>
    <ion-card-title>Samsung®</ion-card-title>
    <ion-card-subtitle>Smartphone Galaxy S20 FE 128GB/6GB 5G Azul</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    $ 489.990
Precio Oferta Efectivo

$ 505.190
Precio Oferta
  </ion-card-content>


 
  <ion-button color="danger"[routerLink]="['/samsung4']" class="custom-button">Ver producto</ion-button>
  
</ion-card>
