<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div> <img src="assets/icon/logo2.png" class="logito"></div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card>
  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/48172/2_1000.jpg?t=1681417298959" />
  <ion-card-header>
    <ion-card-title>Samsung®
    </ion-card-title>
    <ion-card-subtitle>Smartphone Galaxy A34 128GB/6GB </ion-card-subtitle>
  </ion-card-header>

  $ 309.990
Precio Oferta Efectivo

$ 319.590
Precio Oferta
  
  <ion-button color="danger"[routerLink]="['/xiaomi1']" class="custom-button">Ver producto</ion-button>
</ion-card>

<ion-card>
  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/48174/3_1000.jpg?t=1679669256296" />
  <ion-card-header>
    <ion-card-title>Samsung®
    </ion-card-title>
    <ion-card-subtitle>Smartphone Galaxy A54 256GB/8GB 5G</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    $ 424.990
    Precio Oferta Efectivo
    
    $ 438.190
    Precio Oferta
  </ion-card-content>
  
  <ion-button color="danger"[routerLink]="['/xiaomi2']" class="custom-button">Ver producto</ion-button>


</ion-card>

<ion-card>
  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/44589/2_1000.jpg?t=1645413949653" />
  <ion-card-header>
    <ion-card-title>Samsung®
    </ion-card-title>
    <ion-card-subtitle>Smartphone Galaxy S21 Fe 128GB/6GB 5G</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    $ 569.990
Precio Efectivo

$ 587.590
Precio Normal
  </ion-card-content>
  
  <ion-button color="danger"[routerLink]="['/xiaomi3']" class="custom-button">Ver producto</ion-button>
</ion-card>

  

