<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div> <img src="assets/icon/logo2.png" class="logito"></div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  Bienvenido Admin!!
<ion-list>
  <ion-item [routerLink]="'/listacel'">
    <ion-label>Ver stock de celulares</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Ver usuarios</ion-label>
  </ion-item>

</ion-list>
</ion-content> 
