.btn{
    color: white;
    background-color: #F43435;
    border-radius: 5px;
    margin-top: 40px;
}
  
ion-header ion-toolbar {
        --background: #F43435;
        --color:white; 
}

.logito{
    border-radius: 50%;
    max-width: 40px;
    width: 200px;
    
    
  }