<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Image-Slider</title>
</head>
<body>

    <div class="container">
        <span class="slider" id="slider1"></span>
        <span class="slider" id="slider2"></span>
        <span class="slider" id="slider3"></span>
        <span class="slider" id="slider4"></span>
        <span class="slider" id="slider5"></span>
        <span class="slider" id="slider6"></span>
        <span class="slider" id="slider7"></span>

        <div class="imgContainer">

          <ion-content>
            <div class="container">
              <ion-slides pager="true">
                <ion-slide id="slide_1">
                  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/48571/2_1000.jpg?t=1684963833469" />
                </ion-slide>
                <ion-slide id="slide_2">
                  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/45510/3_1000.jpg?t=1659114061282" />
                </ion-slide>
                <ion-slide id="slide_3">
                  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/48571/2_1000.jpg?t=1684963833469" />
                </ion-slide>
                <ion-slide id="slide_4">
                  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/48571/2_1000.jpg?t=1684963833469" />
                </ion-slide>
                <ion-slide id="slide_5">
                  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/48571/2_1000.jpg?t=1684963833469" />
                </ion-slide>
                <ion-slide id="slide_6">
                  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/45510/3_1000.jpg?t=1659114061282" />
                </ion-slide>
                <ion-slide id="slide_7">
                  <img alt="Silhouette of mountains" src="https://www.pcfactory.cl/public/foto/45510/3_1000.jpg?t=1659114061282" />
                </ion-slide>
              </ion-slides>
            </div>
          </ion-content>
