<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>samsung3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">samsung3</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="contenedor">
        <div class="tarjeta">
            <!-- <h2 class="canal">El Código <br> Bravo</h2> -->
        </div>
    </div>
    
</body>
</html>