<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <div><ion-title> <img src="assets/icon/phoneprime.png"/></ion-title></div>
    
  </ion-toolbar>
 
</ion-header>

<ion-content [fullscreen]="true">
  
  <div>
    <ion-button [routerLink]="['/login']" size="small" expand="block">ir a login</ion-button>
    <ion-button [routerLink]="['/registro']" size="small" expand="block">ir a registro</ion-button>
    <ion-button [routerLink]="['/pagina1']" size="small" expand="block">ir a pag1</ion-button>
    <ion-button [routerLink]="['/pagina2']" size="small" expand="block">ir a pag2</ion-button>
  </div>

  <app-componente1 [apellido]="primerNombre"></app-componente1>

  
</ion-content>
