<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div> <img src="assets/icon/logo2.png" class="logito"></div>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
  
   <ion-card> <img width="650px" height="250px" src="assets/icon/Logonombre.png" ></ion-card>
  
  <div class="titulo">Producto Destacado</div>
    <ion-card>
    <div class="divDescuento"><ion-text class="descuento">40%</ion-text></div>
    <div><img alt="" src="https://images.samsung.com/is/image/samsung/p6pim/cl/2307/gallery/cl-galaxy-z-flip5-f731-sm-f731blgjltl-537564370?$1300_1038_PNG$" class="image" /></div>
    <div><ion-text style="font-size: 14px; color: #757478; margin-left: 15px;"><b>SAMSUNG</b></ion-text> </div> 
      <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;"><b>CELULAR GALAXY Z FLIP 5 </b></ion-text><hr>
      <div><ion-text style="color: #757478; font-size: 15px; margin-left: 15px;"><s>$1.080.990</s></ion-text></div>
      <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;">$648.600</ion-text>  
    
      <ion-button fill="clear" class="btn" expand="block" [routerLink]="['/samsung3']">Ver producto</ion-button>
      <hr size="5px" width="100%" color="gray"/>
    </ion-card>

    <ion-list>
      <ion-item>
        <ion-label [routerLink]="['/listar']">Lista usuarios</ion-label>
      </ion-item>
      
    </ion-list>
    
   
  

  
</ion-content>
    

    


